@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato-400.woff2) format('woff2'), url(assets/Lato-400.woff) format('woff'), url(assets/Lato-400.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato-700.woff2) format('woff2'), url(assets/Lato-700.woff) format('woff'), url(assets/Lato-700.ttf) format('truetype');
}
